@using Domain.Shared

<table>
    <thead>
        <tr>
            <th>Round/User</th>
            @foreach (var user in Score)
            {
                <th>@user.Key</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 10; i++)
        {
            var round = i + 1;

            <tr>
                <td>@round</td>

                @foreach (var user in Score)
                {
                    int score = (i < user.Value.Count) ? user.Value[i] : 0;
                    <td>@score</td>
                }
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td>Full Score</td>
            @foreach (var user in Score)
            {
                int score = user.Value.Sum();
                <td>@score</td>
            }
        </tr>
    </tfoot>
</table>


@code {
    [Parameter]
    public IDictionary<string, List<int>> Score { get; set; }
}
