@page "/"
@inject IJSRuntime JsRuntime
@inject IZonkClient ZonkClient
@inject UserUtils UserUtils
@inject NavigationManager NavManager

<PageTitle>Zonk</PageTitle>

@if (!String.IsNullOrEmpty(Name))
{
    <h1>Your nickname: @Name</h1>

    <button @onclick="InitGame">Initialize game</button>

}

@code {
    public string Name;

    protected async Task InitGame()
    {
        var response = await ZonkClient.InitializeGame(Name);

        if (!response.IsSuccess)
        {
            await JsRuntime.InvokeVoidAsync("alert", response.Error);
        }

        NavManager.NavigateTo("games/" + response.Data.GameId);
    }

    protected override async Task OnInitializedAsync()
    {
        Name = await UserUtils.GetNameOrLogin();
    }
}